.space_header {
  position: relative;
  width: 100%;
  :global {
    .ant-tabs-bottom > .ant-tabs-nav:before,
    .ant-tabs-bottom > div > .ant-tabs-nav:before,
    .ant-tabs-top > .ant-tabs-nav:before,
    .ant-tabs-top > div > .ant-tabs-nav:before {
      border-bottom: none !important;
    }
    .ant-tabs-tab {
      margin: 0 !important;
    }
  }
  .avatarGroup {
    position: absolute;
    top: 25%;
    left: 70%;
  }
}
