.rootLayout {
  height: 100vh;
  background: rgb(254, 18, 18);
  background: linear-gradient(144deg, #0b53da, #fc459b);

  .layout {
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    .layoutLogin {
      border-radius: 15px;
      color: white;
      font-weight: bold;
    }
    .layoutRegister {
      border-radius: 15px;
      font-weight: 500;
    }
  }
}

.layouts {
  min-height: 100vh;
  :global {
    .ant-layout-sider {
      background-color: white;
      box-shadow: 5px 3px 4px #3333;
    }
    .ant-menu-item:hover {
      background-color: #f2f2f2;
    }
    .ant-layout-sider-zero-width-trigger {
      border-radius: 50%;
      top: 46px;
      right: -27px;
      width: 42px;
    }
    .ant-tabs > .ant-tabs-nav,
    .ant-tabs > div > .ant-tabs-nav {
      margin: 0;
      margin-left: 20px;
    }
  }
  .notifycation {
    font-size: 1.6rem;
    color: #7c8791;
  }
  :global {
    .ant-layout-sider-children {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal)
      .ant-menu-item-selected {
      background-color: rgba(134, 134, 134, 0.1);
      border-left: 3px solid #999;
    }
  }
}

.menuFolderProject {
  padding: 1rem 1.8rem 1rem 2.8rem;
  background: white;
  color: black;
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  &:hover {
    background: #f5f5f5;
  }
}
.header {
  background: white;
  position: fixed;
  width: 100%;
  z-index: 1;
  border-left: 1px solid rgb(240, 240, 240);
  box-shadow: 5px 3px 4px #3333;
}

.AddProject {
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(144deg, #0b53da, #fc459b);
  position: fixed;
  bottom: 10%;
  left: 95%;
  animation: add 4s ease infinite;
  .open_modal {
    color: white;
    animation: addModal 0.5s ease;
  }
}

@keyframes add {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes addModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
